$Social-Media-Icons:(
        email: "\e900",
        medium: "\e901",
        dribble: "\e902",
        twitter: "\e903",
        facebook: "\e904",
        youtube: "\e905",
        google: "\e906",
        instagram: "\e907",
        pinterest: "\e908"
);